/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-black: #4d4d4d;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  
    /* Size */
    --size-border-radius: 4px;
  
    /* Annimation */
    --animation-duration: 300ms;
  }
  
  /* Universal tags */
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: var(--color-white);
  }
  
  ul {
    padding-left: 0;
  }
  
  li {
    list-style: none;
  }
  
  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--color-white);
  }
  
  /* Typography */
  h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
  h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
  }
  
/* Navbar */

#navbar{
  background-color: var(--color-pink);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: var(--color-white);

}
.navbar__logo{
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__logo img{
 width: 25px;
}

.navbar__logo a{
position: relative;
bottom:7px;

}
.navbar__menu
{
  display: flex;
}
.navbar__menu__item{
  
  padding: 8px;
  margin: 0 4px;
  cursor: pointer;
}

.navbar__menu__item:hover{
  background-color: var(--color-dark-pink);
  border-radius: 4px;
}

/*home*/
#home{
background: url('img/1.png') center/cover no-repeat;
padding: 40px;
text-align: center;
}
.home__title,.home_description{

color: var(--color-white);
}

.home__avatar{
  width: 250px;
  height: 270px;
  border-radius: 50%;
  border:2px solid var(--color-white)
}

.home__contact{
  font-size:var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 25px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/*Section common*/
section{
  padding: 50px;
  text-align: center;
 
}

/*About*/
.about__majors{
  display: flex;
  justify-content: space-evenly;
  margin: 80px 0;
}

.major__icon{
  width:170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  border:1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 15px;
  color:var(--color-blue);
}

.major__icon i{
  transition: all 300ms ease;
}

.major__icon:hover i{
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.2);
}

.major__title , .major__description{
color:var(--color-dark-grey);

}
.major__title{
  font-weight: var(--weight-bold);
}


.major__description{
  font-size:var(--font-small) ;
  margin: 0 16px;
}

.job{
  display: flex;
  align-items: center;
}

.job__logo{
  padding-right: 10px;
 width: 50px;
 height: 30px;
}

.job__name,.job__period{
  color: var(--color-light-grey);
}

.job__name{
  font-size:var(--font-small);

}
.job__period{
  text-align: left;
  font-size:var(--font-micro);
}

/*Skill*/
#skills{
  background-color: var(--color-orange);
 
}

.sillset__left{
  background-color: #504c39;
  flex-basis: 60%;
  padding: 20px 40px;
 
}
.skill{
  margin-bottom: 20px;
}

.skillset__right{
  flex-basis: 40%;
}

.section__container
{
  max-width: 1200px;
  margin: auto;
}

.skillset{
  display: flex;
  background-color: var(--color-dark-grey);
  color: var(--color-white);
}

.skillset__title{
  color: var(--color-white);
}

.skill__description{
  display: flex;
  justify-content: space-between;
}

.skill__bar{
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
}

.skill__value{
height: 3px;
background-color: var(--color-orange);

}

.tools{
  background-color: var(--color-grey);
}

.tools,.etc{
  padding: 10px;
}

/*work*/

.work__categories{
  margin: 30px;
}

.category__btn{
  border :1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  color: var(--color-black);
}

.category__btn.active,
.category__btn:hover{
  background-color: var(--color-dark-pink);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count
{
  opacity: 1;
  top:0px;
}

.category__count{
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  display: inline-block;
  /*span과 같은 block 요소에
  높이와 넓이를 지정해주고 싶을때 사용*/
  line-height:24px ;
  position: relative;
  /*요소 자기 자신의 원래 위치(static일 때의 위치)
  를 기준으로 배치한다.원래 위치를 기준으로
  위쪽(top), 아래쪽(bottom), 왼쪽(left),
  오른쪽(right)에서 얼마만큼 떨어질 지 결정한다.*/
  top: -20px;
  left:4px;
  opacity: 0;
  transition: var(--animation-duration);
}

.work__projects{
  display: flex;
  flex-wrap: wrap;
  /*정렬된 요소들의 총 넓이가 부모 넓이보다
  클때, 이요소들을 다음 줄에 이어서 정렬해줌*/
  justify-content: center;
}

.project{
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
}

.project__img{
  width: 100%;
  height: 100%;
  
}

.project__description{
  position: absolute;
  /* 부모 요소를 기준으로 배치 */
  background-color: #000000;
  width: 100%;
  height: 100%;
  top:0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.project:hover .project__description{
  opacity: 0.8;
}

.project__description h3{
  color: var(--color-white);
}

/*html에 하나씩 하는방법 말고
간편하게 css에서 글자사이에 선을 추가하는 방법*/
.project__description h3:after {
content : '';
display:block;
position: relative;
left: 50%;
margin-left: -12px;
margin-top: 8px;
width: 30px;
height: 2px;
background-color: var(--color-dark-white);
}


/* Testimonial */

#testimonials{
  background-color: var(--color-light-white);
}

.tetimonials{
  margin: 40px;
  
}

.testimonial{
  display: flex;
}

.testimonial__avatar{
  width: 150px;
  height: 140px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
}

.testimonial__speech-bubble{
  background-color: var(--color-white);
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  padding: 18px;
}

.testimonial__speech-bubble a{
  color: var(--color-pink);
}

.testimonial__speech-bubble p{
 color: var(--color-light-grey);
}

/* Contact */
#contact{
  background-color : var(--color-pink);
}

.contact__title,
.contact__email,
.contact__rights{
  color:var(--color-white);
}

.contact__title{
  margin: 32px 0
}

.contact__links{
  font-size: var(--font-large);
  margin: 24px 0;
  
}


.contact__links i:hover {
  transform: scale(1.1);
  color:var(--color-orange);

}